<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div>
    <mat-card class="box">
      <mat-progress-bar
        *ngIf="authService.loadScreen"
        mode="indeterminate"
      ></mat-progress-bar>

      <mat-card-header>
        <mat-card-title>Sign In</mat-card-title>
      </mat-card-header>

      <form
        (ngSubmit)="authService.signInUser(email.value, password.value)"
        class="example-form"
      >
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input
              #email
              matInput
              placeholder="Email"
              [formControl]="authService.email"
              required
            />
            <mat-error *ngIf="authService.email.invalid">{{
              authService.getErrorMessageEmail()
            }}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input
              type="password"
              #password
              matInput
              placeholder="Password"
              [formControl]="authService.password"
              required
            />
            <mat-error *ngIf="authService.password.invalid">{{
              authService.getErrorMessagePassword()
            }}</mat-error>
          </mat-form-field>
        </mat-card-content>
        <a
          ><button mat-stroked-button color="accent" class="btn-block">
            Sign In
          </button></a
        >
      </form>

      <div class="navigation-bar" *ngIf="!authService.loadScreen">
        <a (click)="signInGuest()"
          >Continue <br />
          as guest</a
        >

        <div>
          <p class="outside-message">
            Not Registered? <br />
            <a routerLink="/sign-up" routerLinkActive="router-link-active"
              >Sign-Up</a
            >
          </p>
        </div>
      </div>
    </mat-card>
  </div>
  <footer>
    <a (click)="openDialogLegalNotice()">Legal Notice</a>
    <a (click)="openDialogDataProtection()">Data Protection</a>
  </footer>
</div>
