<div class="menu-bar">
  <div *ngIf="userService.user" class="profile-menuBox">
    <img class="profile-image" src="{{ userService.user.photoURL }}" />
    <div class="profile-info">
      <h4>{{ userService.user.displayName }}</h4>
      <div class="profile-status">
        <div
          [ngStyle]="{
            'background-color': userService.user.online ? 'green' : 'red'
          }"
        ></div>
        <p *ngIf="userService.user.online">Online</p>
        <p *ngIf="!userService.user.online">Offline</p>
      </div>
    </div>
  </div>

  <button
    *ngIf="userService.user.status == '' || undefined"
    (click)="openDialog()"
    (mouseover)="changeText = true"
    (mouseout)="changeText = false"
    class="status-btn"
  >
    <p *ngIf="!changeText">😶</p>
    <p *ngIf="changeText">😃</p>
    <h5>Update your status</h5>
  </button>

  <button
    (click)="openDialog()"
    class="status-btn"
    *ngIf="userService.user.status"
    (mouseover)="changeText = true"
    (mouseout)="changeText = false"
  >
    <p *ngIf="changeText">🖋</p>
    <p *ngIf="!changeText">{{ userService.user.status }}</p>
  </button>

  <mat-list (click)="openDialogSettings()" class="profile-settings-btn">
    Profile settings</mat-list
  >

  <mat-list (click)="authService.signOut()">
    <mat-icon aria-hidden="false">logout</mat-icon>
    Logout</mat-list
  >
</div>
