<h2 mat-dialog-title>Profile setting</h2>
<div mat-dialog-content>
  <label>
    <div
      type="file"
      class="img-container"
      (mouseenter)="showAddIcon = true"
      (mouseleave)="!(showAddIcon = false)"
    >
      <mat-spinner
        [diameter]="24"
        *ngIf="cloudstorageService.userImageUpload"
      ></mat-spinner>

      <img
        *ngIf="cloudstorageService.currentUserIMG"
        src="{{ cloudstorageService.currentUserIMG }}"
      />
      <img
        *ngIf="!cloudstorageService.currentUserIMG"
        src="{{ userService.user.photoURL }}"
      />

      <input
        type="file"
        (change)="cloudstorageService.handleFileInput($event, 'user')"
        style="display: none"
      />
    </div>
  </label>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button
    *ngIf="!cloudstorageService.userImageUpload"
    (click)="saveSettings()"
    mat-button
  
  >
    Save
  </button>
</div>
