.toolbar-container {
  color: white;
  background-color: #3f51b5;
  border: 0.5px solid #3f51b5;
  font-family: "Fredoka One", cursive;
  font-size: 1.8rem;
}

.loggedIn-toolbarContainer {
  border-bottom: 2px solid white;
}

.sidenav-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #3f51b5;
}

.drawer-field {
  width: 300px;
  color: white;
  background-color: #611f69;
  text-align: center;

  .list-item {
    color: lightgrey;
    cursor: pointer;
  }

  .list-item:hover {
    color: white;
  }
}

.headline {
  color: white;

  p {
    padding-top: 40px;
    font-size: 20px;
  }
}

.message {
  padding-top: 70px;
  color: white;

  p {
    font-size: 20px;
  }
}

.logo img {
  height: 64px;
  width: 64px;
  cursor: pointer;
}

.material-icons-outlined {
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: white;
  font-size: 32px;
}

.list-item {
  margin-right: 20px;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container {
  padding-top: 50px;
}

.message-field {
  position: absolute;
  bottom: 70px;
  left: 20px;
  right: 20px;
}

.user-area {
  img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 4px;
  }
}
