<!--toolbar-->
<mat-toolbar class="toolbar-container">
  <a routerLink="/"><div class="logo"><img src="assets/img/slacklogo.png"></div></a>
  <span>Slack Clone</span>
  <span class="example-spacer"></span>
  <mat-icon aria-hidden="false" aria-label="Example home icon">
    <a href="/channels"><div class="user-area">
      <span class="material-icons-outlined">account_circle</span>
    </div></a>
  </mat-icon>
</mat-toolbar>

<!--sidebar-->
<mat-drawer-container class="sidenav-container">
<!--channel-list-->
 

<!--content-->
  <mat-drawer-content class="content-field">
    
    <router-outlet></router-outlet>


  </mat-drawer-content>



  
</mat-drawer-container>

  