<!--toolbar-->
<mat-toolbar class="toolbar-container">
  <div class="logo"><img src="assets/img/slacklogo.png"></div>
  <span>Slack Clone</span>
  <span class="example-spacer"></span>
  <mat-icon aria-hidden="false" aria-label="Example home icon">
    <div class="user-area"><span class="material-icons-outlined">account_circle</span></div></mat-icon>
</mat-toolbar>

<!--sidebar-->
<mat-drawer-container class="sidenav-container">

  <mat-drawer class="drawer-field" mode="side" opened><div class="headline"><p><b>Channels</b></p></div>
    <div class="list-container">
    <mat-list class="list">
      <mat-list-item class="list-item"># allgemein</mat-list-item>
      <mat-list-item class="list-item"># news</mat-list-item>
      <mat-list-item class="list-item"># feedback</mat-list-item>
      <mat-list-item class="list-item"># gruppe</mat-list-item>
      <mat-list-item class="list-item"># hilfe</mat-list-item>
    </mat-list>
  </div>

    <div class="message"><p><b>Direktnachrichten</b></p></div>
    <div class="list-container">
      <mat-list class="list">
        <mat-list-item class="list-item">Username1</mat-list-item>
        <mat-list-item class="list-item">Username2</mat-list-item>
        <mat-list-item class="list-item">Username3</mat-list-item>
        <mat-list-item class="list-item">Username4</mat-list-item>
        <mat-list-item class="list-item">Username5</mat-list-item>
      </mat-list>
    
    </div>
  </mat-drawer>


  <mat-drawer-content>Main content

    <p>
      <mat-form-field class="message-field" appearance="outline">
        <mat-label>Nachricht senden</mat-label>
        <input matInput placeholder="Nachricht senden">
        <mat-icon matSuffix><span class="material-icons-outlined">
          send
          </span></mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </p>
  </mat-drawer-content>
  
  
</mat-drawer-container>

  