
<!--toolbar -->
<mat-toolbar
  class="toolbar-container"
  [ngClass]="{ 'loggedIn-toolbarContainer': !checkRouteSign() }"
>
  <mat-icon
  class="hide-desk"
    *ngIf="!checkRouteSign() && !sidenav.sidenav?._opened && sidenav.loadSideNav"
    (click)="sidenav.toggle()"
    >menu</mat-icon
  >
  <mat-icon
  class="hide-desk"
    *ngIf="!checkRouteSign() && sidenav.sidenav?._opened && sidenav.loadSideNav"
    (click)="sidenav.close()"
    >close</mat-icon
  >

  <div class="logo-container">
    <a
      ><div class="logo"><img src="assets/img/slacklogo.png" /></div
    ></a>
    <span>Slack Clone</span>
  </div>

  <!--  <span class="example-spacer"></span> -->

  <!--   profile-icon -->
  <mat-icon aria-hidden="false" aria-label="Example home icon">
    <div class="user-area">
      <span *ngIf="checkRouteSign()" class="material-icons-outlined"
        >account_circle</span
      >
      <!-- logged in -->

      <img
        [matMenuTriggerFor]="menu"
        class="material-icons-outlined"
        *ngIf="userService.user?.online && !checkRouteSign()"
        src="{{ userService.user.photoURL }}"
      />
    </div>
  </mat-icon>
</mat-toolbar>

<!--sidebar-->
<mat-drawer-container class="sidenav-container">
  <!--channel-list-->

  <!--content-->
  <mat-drawer-content class="content-field">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<!-- profile-menu-bar -->
<mat-menu #menu="matMenu">
  <app-menu-bar *ngIf="userService.user"></app-menu-bar>
</mat-menu>
