.main-wrapper {
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	
}

.positronx {
	text-decoration: none;
	color: #ffffff;
}

.box {
	position: relative;
	top: 0;
	opacity: 1;
	float: left;
	padding: 60px 50px 40px 50px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 5;
	max-width: 330px;
	

}






.box.back {
	transform: scale(.95);
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	top: -20px;
	opacity: .8;
	z-index: -1;
}



.main-wrapper .example-form {
	min-width: 100%;
	max-width: 300px;
	width: 100%;
}

.main-wrapper .example-full-width,
.main-wrapper .btn-block {
	width: 100%;
}

.main-wrapper mat-card-header {
	text-align: center;
	width: 100%;
	display: block;
	font-weight: 700;
}

.main-wrapper mat-card-header mat-card-title {
	font-size: 30px;
	margin: 0;
}

.main-wrapper .mat-card {
	padding: 45px 70px 55px;
	width: 50vw;
}

.main-wrapper .mat-stroked-button {
	border: 1px solid currentColor;
	line-height: 54px;
	background: #FFF7FA;
}

button {

    background-color: #3f51b5;
    color: white;
    height: 50px;
    border: none;

	&:hover {

		opacity: 0.7;
	}

}

.main-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
	padding: 0.8375em 0;
}

p.outside-message {
    width: 95%;
    text-align: start;
	margin-top: 32px;
	font-weight: 500;


	a {
		text-decoration: none;
		cursor: pointer;
		color: #3f51b5;
	} 
}


mat-progress-bar {
	position: absolute;
    top: 8px;
    right: 0px;
    left: 0;
    width: 100%;
}

footer {
	position: absolute;
	bottom: 8px;
	right: 0;
	left: 0;
	  display: flex;
	  justify-content: flex-end;
	  align-items: center;


	  a {
		  margin-right: 16px;	
		  color: white;
		  cursor: pointer;
	  }
  }