<div *ngIf="chatService.chat && userService.user" class="message-container">
  <div *ngIf="this.currentlocation == 'channels'" class="message-title">
    <h3># {{ this.chatService.chat.name }}</h3>
  </div>

  <div
    *ngIf="this.currentlocation == 'chats' && this.privateChatData"
    class="message-title"
  >
    <div class="privateChatDescription">
      <img src="{{this.privateChatData.photoURL}}" />
      <h3>{{ this.privateChatData.displayName }}</h3>
    </div>
  </div>

  <div class="message-show-container">
    <div class="scroll-container">
      <div
        *ngFor="let chat of this.chatService.chat.text"
        class="message-user-container"
      >
        <div class="message-userData">
          <img src="{{ this.returnUserData(chat.userID).photoURL }}" />
          <h4>{{ this.returnUserData(chat.userID).displayName }}</h4>
          <p>{{ chat.time }}</p>
        </div>
        <p [ngClass]="chat.codeFormat ? 'codeFormat' : ''">
          {{ chat.message }}
        </p>
      </div>
    </div>
  </div>

  <p>
    <mat-form-field class="message-field" appearance="outline">
      <mat-label>Nachricht senden</mat-label>

      <textarea
        #inputText
        type="text"
        [(ngModel)]="text"
        (ngModelChange)="changeText($event)"
        matInput
        placeholder="Nachricht senden"
        [ngClass]="formatText ? 'codeFormat' : ''"
        wrap="soft"
        style="max-height: 80px"
      >
      </textarea>
      <mat-icon matSuffix
        ><span (click)="sendMessage()" class="material-icons-outlined">
          send
        </span></mat-icon
      >
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
</div>
