<div *ngIf="chatService.chat" class="message-container">
  <div *ngIf="this.currentlocation == 'channels'" class="message-title">
    <h3># {{ this.chatService.chat.name }}</h3>
  </div>

  <div
    *ngIf="this.currentlocation == 'chats' && this.privateChatData"
    class="message-title"
  >
    <div class="privateChatDescription">
      <img src="{{ this.privateChatData.photoURL }}" />
      <h3>{{ this.privateChatData.displayName }}</h3>
    </div>
  </div>

  <div class="message-show-container">
    <div
      [ngStyle]="{
        'margin-bottom':
          cloudstorageService.imageURL.length > 0 ? '64px' : '24px'
      }"
      #scrollEnd
      class="scroll-container"
    >
      <div
      #messages
        *ngFor="let chat of this.chatService.chat.text"
        class="message-user-container"
        (mouseenter)="showThreadIcon = true"
        (mouseleave)="showThreadIcon = false"
      >
        <div class="message-userData">
          <!--    showThreadIcon -->
          <img src="{{ this.returnUserData(chat.userID).photoURL }}" />
          <h4>{{ this.returnUserData(chat.userID).displayName }}</h4>
          <p>{{ chat.time }} Uhr</p>
        </div>
        <p class="word-break" [ngClass]="chat.codeFormat ? 'codeFormat' : ''">
          {{ chat.message }}
        </p>
        <div class="chat-image">
          <div *ngFor="let img of chat.images">
            <img (click)="openImageDialog(img)" src="{{ img.src }}" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>
    <mat-form-field class="message-field" appearance="outline">
      <mat-label>Nachricht senden</mat-label>

      <textarea
        #inputText
        type="text"
        [(ngModel)]="text"
        (ngModelChange)="changeText($event)"
        matInput
        placeholder="Nachricht senden"
        [ngClass]="formatText ? 'codeFormat' : ''"
        style="max-width: 80%"
      >
      </textarea>

      <div *ngIf="cloudstorageService.imageURL" class="imagePreview">
        <div
          (mouseenter)="showDeleteBTN = true"
          (mouseleave)="showDeleteBTN = false"
          *ngFor="let img of cloudstorageService.imageURL"
        >
          <img [src]="img.src" />
          <mat-spinner [diameter]="24" *ngIf="!img.uploaded"></mat-spinner>

          <span
            (click)="cloudstorageService.deletePickedImg(img)"
            *ngIf="showDeleteBTN && img.uploaded"
            class="material-icons"
          >
            clear
          </span>
        </div>
      </div>

      <div class="input-icons-container">
        <label>
          <span type="file" class="material-icons"> add_a_photo </span>
          <input
            type="file"
            (change)="
              cloudstorageService.handleFileInput($event);
              cloudstorageService.uploadImg('chat')
            "
            style="display: none"
          />
        </label>

        <mat-icon matSuffix
          ><span
            [ngClass]="
              (this.text && this.cloudstorageService.imageURL.length <= 0) ||
              checkUploadAllImages()
                ? ''
                : 'disabledIcon'
            "
            (click)="sendMessage()"
            class="material-icons-outlined"
          >
            send
          </span></mat-icon
        >
      </div>
    </mat-form-field>
  </p>
</div>
