.message-container {
  width: 100%;
}

.message-field {
  position: absolute;
  bottom: 70px;
  left: 20px;
  right: 20px;

  span {
    cursor: pointer;
  }

  textarea {
    resize: none;
  }
}

.codeFormat {
  color: orange;
}

.message-title {
  background-color: #cdd4d5;
  height: 48px;
  display: flex;
  align-items: center;

  h3 {
    margin: 0px 0px 0px 20px;
  }
}

.message-show-container {
  overflow-y: auto;
  position: absolute;
  bottom: 200px;
  left: 20;
  left: 20px;
  right: 20px;
  top: 100px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.message-userData {
  display: flex;
  align-items: center;

  img {
    height: 32px;
    object-fit: cover;
  }

  h4 {
    margin-bottom: 0;
    margin-left: 8px;
  }

  p {
    margin-bottom: 0;
    margin-left: 8px;
  }
}

.message-user-container {
  border-bottom: 1px solid grey;
  margin-bottom: 16px;
}

.scroll-container {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
