.message-container {
  width: 100%;
}

.message-field {
  position: absolute;
  bottom: 70px;
  left: 20px;
  right: 20px;

  span {
    cursor: pointer;
    margin-bottom: 8px;
  }

  textarea {
    resize: none;
    height: 6vh;
  }
}

.input-icons-container {
  position: absolute;
  right: 0px;
  display: flex;
  bottom: 8px;
  flex-direction: column;
}

.codeFormat {
  color: orange;
}

.message-title {
  background-color: #d8d8d8;
  height: 48px;
  display: flex;
  align-items: center;
  border: 8px solid #3f51b5b8;

  h3 {
    margin: 0px 0px 0px 20px;
  }
}

.message-show-container {
  position: absolute;
  bottom: 200px;
  left: 20;
  left: 20px;
  right: 20px;
  top: 100px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.message-userData {
  display: flex;
  align-items: center;

  img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 4px;
  }

  h4 {
    margin-bottom: 0;
    margin-left: 8px;
  }

  p {
    margin-bottom: 0;
    margin-left: 8px;
  }
}

.message-user-container {
  border-bottom: 1px solid #9e9e9e;
  margin-bottom: 16px;
}

.scroll-container {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.privateChatDescription {
  display: flex;
  align-items: center;

  img {
    margin-left: 20px;
    height: 32px;
    width: 32px;
    object-fit: cover;
  }
}

.imagePreview {

  display: flex;
  flex-wrap: wrap;
  max-height: 10vh;
  overflow-y: auto;
  margin-top: 16px;

  img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin: 0px 8px 0px 8px;
  }
}
