.toolbar-container {
  color: white;
  background-color: #3f51b5;
  border: 0.5px solid #3f51b5;
}

.sidenav-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.drawer-field {
  width: 300px;
  color: white;
  background-color: #3f51b5;
  text-align: center;
  overflow-y: auto;

  .list-item {
    color: lightgrey;
    cursor: pointer;
  }

  .list-item:hover {
    color: white;
  }
}

.headline {
  color: white;
  display: flex;
  width: 100%;

  p {
    position: relative;
    padding-top: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  mat-icon {
    &:hover {
      background-color: #5d76ff;
      border-radius: 8px;
    }
  }
}

.message {
  padding-top: 70px;
  color: white;

  p {
    font-size: 20px;
  }
}

.logo img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.material-icons-outlined {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.list-item {
  margin-right: 20px;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 8px;
    height: 32px;
    width: 32px;
    border-radius: 4px;
    object-fit: cover;
  }

  mat-list-item {
    margin-top: 16px;
  }
}

.user-status {
  display: flex;
  position: relative;

  div {
    position: absolute;
    right: 4px;
    bottom: 0;
  }
}

.mat-drawer-container {
  position: unset;
}

:host::ng-deep .mat-drawer-inner-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 16px;
}



.welcome-container-mobile {
  background: #3f51b5;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-family: 'Fredoka One';
  }

}

.welcome-container-desk {
  height: 100%;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-family: 'Fredoka One';
  }
}