.toolbar-container {
  color: white;
  background-color: #611f69;
  border: 0.5px solid #8a2d94;
}

.sidenav-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.drawer-field {
  width: 300px;
  color: white;
  background-color: #611f69;
  text-align: center;
  overflow-y: auto;

  .list-item {
    color: lightgrey;
    cursor: pointer;
  }

  .list-item:hover {
    color: white;
  }
}

.toolbar-container {
  color: lightgrey;
  background-color: #611f69;
}

.headline {
  color: white;

 

  p {
    position: relative;
    padding-top: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  mat-icon {
    position: absolute;
    right: 8px;
    
    &:hover {
      background-color:grey;
    }
  }
}

.message {
  padding-top: 70px;
  color: white;

  p {
    font-size: 20px;
  }
}

.logo img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.material-icons-outlined {
  position: absolute;
  right: 20px;
  cursor: pointer;
  
}

.list-item {
  margin-right: 20px;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

