<mat-drawer-container class="sidenav-container">
  <mat-drawer class="drawer-field" mode="side" opened
    ><div class="headline">
      <p><b>Channels</b></p>
    </div>
    <div class="list-container">
      <mat-list class="list">
        <mat-list-item class="list-item"># allgemein</mat-list-item>
        <mat-list-item class="list-item"># news</mat-list-item>
        <mat-list-item class="list-item"># feedback</mat-list-item>
        <mat-list-item class="list-item"># gruppe</mat-list-item>
        <mat-list-item class="list-item"># hilfe</mat-list-item>
      </mat-list>
    </div>

    <!--messages-->
    <div class="message">
      <p><b>Direktnachrichten</b></p>
    </div>
    <div class="list-container">
      <mat-list class="list">
        <mat-list-item
          *ngFor="let user of userService.allUser"
          (click)="goToChat(user)"
          class="list-item"
          ><mat-icon 
            ><span  class="user-icon"
              >account_circle</span
            ></mat-icon
          >{{ user.displayName }}</mat-list-item
        >
      </mat-list>
    </div>
  </mat-drawer>

  <app-message></app-message>
</mat-drawer-container>
