<mat-drawer-container
  flex
  class="sidenav-container"
  *ngIf="userService.user?.online"
>
  <mat-drawer  *ngIf="!mobile" class="drawer-field" mode="side" opened
    ><div
      (mouseenter)="showAdd = true"
      (mouseleave)="showAdd = false"
      class="headline"
    >
      <p>
        <b>Channels</b>
        <mat-icon (click)="openDialog()" *ngIf="showAdd">add</mat-icon>
      </p>
    </div>
    <div
      *ngFor="let channel of this.chatService.allChannels"
      class="list-container"
    >
      <mat-list class="list">
        <mat-list-item (click)="goToChannel(channel)" class="list-item"
          ># {{ channel.name }}</mat-list-item
        >
      </mat-list>
    </div>

    <div class="message">
      <p><b>Direktnachrichten</b></p>
    </div>
    <div class="list-container">
      <mat-list class="list">
        <mat-list-item
          *ngFor="let user of userService.allUser"
          (click)="goToChat(user)"
          class="list-item"
        >
          <div class="user-status">
            <div
              class="userOnline"
              [ngStyle]="{
                'background-color': user.online ? 'green' : 'red'
              }"
            ></div>
            <img src="{{ user.photoURL }}" />
          </div>
          {{ user.displayName }}</mat-list-item
        >
      </mat-list>
    </div>
  </mat-drawer>

  <mat-drawer-container *ngIf="mobile" class="example-container" autosize>
    <mat-drawer   autoFocus="false" #sidenav class="drawer-field" mode="over"
      ><div
    
        class="headline"
      >
        <p>
          <b>Channels</b>
          <mat-icon (click)="openDialog()" >add</mat-icon>
        </p>
      </div>
      <div
        *ngFor="let channel of this.chatService.allChannels"
        class="list-container"
      >
        <mat-list class="list">
          <mat-list-item (click)="goToChannel(channel)" class="list-item"
            ># {{ channel.name }}</mat-list-item
          >
        </mat-list>
      </div>

      <div class="message">
        <p><b>Direktnachrichten</b></p>
      </div>
      <div class="list-container">
        <mat-list class="list">
          <mat-list-item
            *ngFor="let user of userService.allUser"
            (click)="goToChat(user)"
            class="list-item"
          >
            <div class="user-status">
              <div
                class="userOnline"
                [ngStyle]="{
                  'background-color': user.online ? 'green' : 'red'
                }"
              ></div>
              <img src="{{ user.photoURL }}" />
            </div>
            {{ user.displayName }}</mat-list-item
          >
        </mat-list>
      </div>
    </mat-drawer>

    
  </mat-drawer-container>

  <router-outlet *ngIf="userService.loadCurrentUser"></router-outlet>
</mat-drawer-container>
