@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
body {
  margin: auto;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

.disabledIcon {
  opacity: 0.4;
  cursor: default !important;
}

.word-break {
  word-wrap: break-word;
}

.userOnline {
  height: 10px;
  width: 10px;
  border-radius: 50%;
} 
