<div class="message-show-container">
  <div class="message-user-container thread-data">
    <div class="message-userData">
      <img src="{{ messageComponent.returnUserData(currentThread.userID).photoURL }}" />
      <h4>{{ messageComponent.returnUserData(currentThread.userID).displayName }}</h4>
      <p>{{ currentThread.time }} Uhr</p>
    </div>
   
 
    <p class="word-break" [ngClass]="currentThread.codeFormat ? 'codeFormat' : ''">
      {{ currentThread.message }}
    </p>

    <div *ngIf="currentThread.images.length > 0" class="chat-image">
      <div *ngFor="let img of currentThread.images">
        <img
          (click)="messageComponent.openImageDialog(img)"
          src="{{ img.src }}"
        />
      </div>
    </div>
  </div>

 

  <div
    [ngStyle]="{
      'margin-bottom': cloudstorageService.imageURL.length > 0 ? '64px' : '24px'
    }"
    #scrollEnd
    class="scroll-container"
  >
    <div
      #messages
      *ngFor="let chat of chatService.chat.text[this.index].answer"
      class="message-user-container"
    >
      <div class="message-userData">
        <img
          [matMenuTriggerFor]="showUserData"
          src="{{ messageComponent.returnUserData(chat.userID).photoURL }}"
        />
        <mat-menu #showUserData="matMenu">
          <div class="show-user">
            <img
              src="{{ messageComponent.returnUserData(chat.userID).photoURL }}"
            />
            <div>
              <h3>
                {{ messageComponent.returnUserData(chat.userID).displayName }}
              </h3>
              <div
                class="userOnline"
                [ngStyle]="{
                  'background-color': messageComponent.returnUserData(
                    chat.userID
                  ).online
                    ? 'green'
                    : 'red'
                }"
              ></div>
            </div>
            <h4>
              Status:
              <i>{{ messageComponent.returnUserData(chat.userID).status }} </i>
            </h4>
            <h4>
              Email:
              <b>{{ messageComponent.returnUserData(chat.userID).email }} </b>
            </h4>
          </div>
        </mat-menu>

        <h4>{{ messageComponent.returnUserData(chat.userID).displayName }}</h4>
        <p>{{ chat.time }} Uhr</p>
      </div>
      <p class="word-break" [ngClass]="chat.codeFormat ? 'codeFormat' : ''">
        {{ chat.message }}
      </p>
      <div *ngIf="chat.images.length > 0" class="chat-image">
        <div *ngFor="let img of chat.images">
          <img
            (click)="messageComponent.openImageDialog(img)"
            src="{{ img.src }}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
